
#topbar {
    background-color: black;
    overflow: hidden;
  }

  
  .herf{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    float: right;
  }

  #topbar .herf:hover {
    border-top: 4px solid darkcyan;
  }

  .hidden{
   
    visibility: hidden;
  }

  #data{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align:center;
    margin-top: 30px;
  }

td{
    border: 1px solid #f2f2f2;
    padding: 8px;
  }
th{
    border: 1px solid #f2f2f2;
    padding: 8px;
  }



#data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightpink;
  color: white;
}
 