.Card{
    height: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    background-color: lightpink!important;
    border: 3px solid lightpink!important;
}

.addColor{
    background-color: mediumvioletred!important;
    border: mediumvioletred!important;
}
#Winner{
    font-weight: bold;
    font-size: 30px;
}

#board{
    margin-top: 30px;
}
#topbar {
    background-color: black;
    overflow: hidden;
  }

  
  .herf{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    float: right;
  }

  #topbar .herf:hover {
    border-top: 4px solid darkcyan;
  }

  .hidden{
      visibility: hidden;
  }

  #boardSizeLable{
    margin-right: 15px;
    font-size: 25px;
  }

  #boardSize{
   /* border: 2px solid mediumvioletred;*/
  }

  .visible {
    visibility: visible;
  }
  #nameLable{
    margin-right: 30px;
    margin-top: 5px;
  }